<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>In the tavern !!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/style_homepage.css">
    </head>
    <body>
        <div class="wrapper">
            <header>
                <img src="taverne.jpg" alt="" class="background">
                <div class="foreground">
                    <button id="viewSheet">Voir mes fiches</button>
                    <button id="createSheet">Créer une fiche</button>
                </div>
                <h1>Welcome in your tavern !</h1>
            </header>
        </div>
        <div id="containerSheet">
            <article></article>
        </div>
        <div id="containerCreateSheet">

        </div>

        <script src="" async defer></script>
    </body>
</html>